/* Empty. Add your own CSS if you like */
.item-complex .item-content, .item-radio .item-content{
	padding: 16px 16px 16px 16px;
}
@-webkit-keyframes changepage {
	0%  { opacity: 0; }
	50% { opacity: 1; }
}
@-moz-keyframes changepage {
	0%   { opacity: 0; }
	50% { opacity: 1; }
}
@-o-keyframes changepage {
  0%   { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes changepage {
  0%   { opacity: 0; }
  50% { opacity: 1; }
}

/* keyframes scale object on home */

@-webkit-keyframes scalehomepage {
 	from { transform: none; }
	50% { transform: scale(1.3); }
	to { transform: none; }
}
@-moz-keyframes scalehomepage {
	from { transform: none; }
	50% { transform: scale(1.3); }
	to { transform: none; }
}
@-o-keyframes scalehomepage {
	from { transform: none; }
	50% { transform: scale(1.3); }
	to { transform: none; }
}
@keyframes scalehomepage {
	from { transform: none; }
	50% { transform: scale(1.3); }
	to { transform: none; }
}

/* keyframes scale data */

@-webkit-keyframes scaledataobject {
 	0% { transform: 1; }
	50% { transform: scale(0.5); }
	100% { transform: scale(0); }
}
@-moz-keyframes scaledataobject {
	0% { transform: 1; }
	50% { transform: scale(0.5); }
	100% { transform: scale(0); }
}
@-o-keyframes scaledataobject {
	0% { transform: 1; }
	50% { transform: scale(0.5); }
	100% { transform: scale(0); }
}
@keyframes scaledataobject {
	0% { transform: 1; }
	50% { transform: scale(0.5); }
	100% { transform: scale(0); }
}

/*
*********************************************************************
*************************                    ************************
*********************************************************************
*/

@-webkit-keyframes slideRight {
	0% {
	    -webkit-transform: translate3d(-100%,0,0);
	    -moz-transform: translate3d(-100%,0,0);
	    -mz-transform: translate3d(-100%,0,0);
	    -o-transform: translate3d(-100%,0,0);
	    transform: translate3d(-100%,0,0);
  	}
 	100% {
    	-webkit-transform: translate3d(50%, 50%, 50%);
    	-moz-transform: translate3d(50%, 50%, 50%);
	    -mz-transform: translate3d(50%, 50%, 50%);
	    -o-transform: translate3d(50%, 50%, 50%);
	    transform: translate3d(50%, 50%, 50%);
  	}
}
@-webkit-keyframes slideLeft {
	0% {
	    -webkit-transform: translate3d(100%,0,0);
	    -moz-transform: translate3d(100%,0,0);
	    -mz-transform: translate3d(100%,0,0);
	    -o-transform: translate3d(100%,0,0);
	    transform: translate3d(100%,0,0);
  	}
 	100% {
    	-webkit-transform: translate3d(-50%, 50%, 50%);
    	-moz-transform: translate3d(-50%, 50%, 50%);
	    -mz-transform: translate3d(-50%, 50%, 50%);
	    -o-transform: translate3d(-50%, 50%, 50%);
	    transform: translate3d(-50%, 50%, 50%);
  	}
}
 
.slide-right {
   -webkit-animation: slideRight ease-in 1; 
  animation: slideRight ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}
.slide-left {
   -webkit-animation: slideLeft ease-in 1; 
  animation: slideLeft ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms;
}

.scroll-content {
	-webkit-animation: changepage 5s normal forwards; /* Safari 4+ */
  	-moz-animation:    changepage 5s normal forwards; /* Fx 5+ */
  	-o-animation:      changepage 5s normal forwards; /* Opera 12+ */
  	animation:         changepage 5s normal forwards; /* IE 10+, Fx 29+ */
}
.home-content {
	width: 100%;
  	height: 100%;
	background:url('../AnimalsData/home_bg.jpg') no-repeat center center;
	background-size: 100% 100%;
	overflow: hidden;
 	padding: 0;
  	margin: 0;
  	top: 0;
}

.home-content .logo {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 40px 0 0 0;
}
.home-content .logo img {
	max-width: 70%;
}
.scroll {
	height: 100%;
	overflow: hidden;
}
.home-content .logo {
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	padding: 40px 0 0 0;
}
.home-content .logo img {
	max-width: 70%;
}
.home-content .objects {
	width: 100%;
	height: 50%;

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  	top: 50%;
}
.home-content .objects .object {
	background: transparent;
  	border: none;
	text-align: left;
	width: 35%;
	height: 50%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	z-index: 1001;
	position: absolute;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-mz-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	cursor: pointer;
	display: block;
}
.home-content .objects .object img {
	position: absolute;
	width: 100%;
	height: auto;
}
.home-content .objects .object.scale-animation img {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	
	-webkit-animation: scalehomepage 3s normal forwards; /* Safari 4+ */
  	-moz-animation:    scalehomepage 3s normal forwards; /* Fx 5+ */
  	-o-animation:      scalehomepage 3s normal forwards; /* Opera 12+ */
  	animation:         scalehomepage 3s normal forwards; /* IE 10+, Fx 29+ */
}
.home-content .objects .object:nth-child(1) {
  margin-left: 15px;
}
.home-content .objects .object:nth-child(1), .home-content .objects .object:nth-child(1) img {
	left: 0;
}

.home-content .objects .object:nth-child(2) {
	right: 0;
	top: 0;
}
.home-content .objects .object:nth-child(2) img {
	right: 0;
	bottom: 0;
}

.home-content .objects .object:nth-child(3), .home-content .objects .object:nth-child(3) img {
	left: 0;
	bottom: 0;
}

.home-content .objects .object:nth-child(4), .home-content .objects .object:nth-child(4) img {
	right: 0;
	bottom: 0;
}

.home-content .objects .object:nth-child(5) {
	position: relative;
	margin: auto;
	top: 36.33%;
}

/* Css for animal-content */
.animal-content {
	width: 100%;
  	height: 100%;
	background:url('../AnimalsData/content_bg.jpg') no-repeat center center;
	background-size: 100% 100%;
  	margin: 0;
  	padding: 0;
  	top: 0;
  	overflow: hidden;
}

.item.current.has-animation {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	
	transform: scale(1.2);
}
.item.current {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
.animal-content .list {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.animal-content .animal-list .item {
  background: transparent;
  border: none;
  line-height: 100%;
  text-align: center;
  padding: 0;
  display: inline-block;

  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  position: absolute;

  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  -ms-opacity: 0;
  opacity: 0;
  z-index: -1;
}
.animal-content .item.scale-animation img {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	transform: scale(1.2);
}
.animal-content .animal-list .item img {
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	height: auto;
  	cursor: pointer;
  	vertical-align: middle;
}
.animal-content .animal-list .item.current {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-o-opacity: 1;
	-ms-opacity: 1;
	opacity: 1;
	z-index: 1;
}

.back-to-home {
	overflow: hidden;
	left: 10%;
	top: 3%;
	width: auto;
	height: auto;
	cursor: pointer;
	position: absolute;
	z-index: 1001;
}
.on-off-sound {
	overflow: hidden;
	right: 10%;
	top: 3%;
	width: auto;
	height: auto;
	cursor: pointer;
	position: absolute;
	z-index: 10001;
	display: block;
}
.on-off-sound .sound-control.show {
	display: block;
}
.on-off-sound .sound-control.hidden {
	display: none;
}

@media screen and (max-width: 600px) {
	
  .animal-content .animal-list .item img {
		max-width: 60%;
	}
	
	.back-to-home img {
		max-width: 100px;
	}
	
	.on-off-sound img {
		max-width: 60px;
	}

	.logo-footer {
		position: absolute;
	    bottom: 6%;
	    margin-left: 8px;
	}
	.logo-footer img {
		max-width: 40%;
	}
}
@media screen and (min-width: 640px) {
	.animal-content .list {
		width: 100%;
		height: 100%;
	}
	.animal-content .animal-list .item {
	    margin: auto;
	    box-sizing: border-box;
	    margin-left: 0;
	}
	.animal-content .animal-list .item img {
		max-width: 450px !important;
	}
  
	.back-to-home img {
		max-width: 100%;
	}
	
	.on-off-sound img {
		max-width: 100%;
	}
	
	.logo-footer {
		position: absolute;
	    bottom: 6%;
    	margin-left: 20px;
	}
	.logo-footer img {
		max-width: 100%;
		bottom: 7.5%;
	}
}
/* iPad */
@media screen and (max-height: 1024px) {
  .home-content .objects .object:nth-child(1) {
    top: -30% !important;
  }
}
/* iPhone6 Plus */
@media screen and (max-height: 736px) {
  .home-content .objects .object:nth-child(1) {
    top: -12% !important;
  }
}
/* iPhone6 */
@media screen and (max-height: 627px) {
  .home-content .objects .object:nth-child(1) {
    top: -15% !important;
  }
}

/* iPhone5 */
@media screen and (max-height: 568px) {
  .home-content .objects .object:nth-child(1) {
    top: -12% !important;
  }
}
/* iPhone4 */
@media screen and (max-height: 480px) {
  .home-content .objects .object:nth-child(1) {
    top: -22% !important;
  }
}


.bar-positive {display:none;}
.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader {
	top: 0;
}
.tab-nav {
	display: none;
}